body {
    font-family: 'SUI',Arial,sans-serif;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.booking__label {
    line-height: 70px;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    padding: 40px;
}

.booking-order-block {
    width: 100%;
}

.booking-header-block {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Распределить элементы с равным расстоянием */
    align-items: center; /* (Опционально) Центрирует элементы по вертикали */
    background-color: rgb(239, 239, 239);
    padding: 20px;
}

.order-info {
    display: flex;
    gap: 20px;
}

.order-block {
    display: flex;
    flex-direction: column;
    background-color: rgba(29, 29, 29, 0.12);
    padding: 2px 12px;
    min-width: 300px;
}

.order-block-name {
    font-size: 12px;
    padding-bottom: 8px;
    color: rgba(61, 61, 61, .5);
}

.order-block-value {
    font-size: 14px;
    padding-bottom: 4px;
    color: rgba(61, 61, 61, .73)
}

.booking-order-block {
    padding-bottom: 50px;
}