.sw-slider {
    display: block !important;
}

.bg-white {
    display: inline-block;
    width: 70px !important;
}

.tl-widgets-container {
    display: none !important;
}

.descr {
    top: 160px !important;
    left: 30px !important;
}

#rec475250272 .t396__carrier {
    background-image: url('/static/index/img/main1.jpeg') !important;
}

.white-logo {
    filter: invert(1);
}

.logo-margin {
    top: 10px !important;
}