.t-zoomer__comments .t-name {
    font-weight: 400 !important;
}

.t657__wrapper {
    background-color:rgba(255, 255, 255, 0.75) !important;
    max-width: 420px !important;
}

.t657_rectangle {
    max-width: 420px !important;
}